/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0;0,700;1,500;1,700&family=Roboto:ital,wght@0,400;1,500;1,700&display=swap');

html {
    margin: auto;
    background-image: url(../img/sfondo.png);
    font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
    text-align: center;
    height: 350px;
    width: 90vw;
    margin: 1em auto;
    background: linear-gradient(0deg, rgb(0, 103, 137) 20%, rgba(0, 149, 178, 1) 68%, rgba(0, 147, 176, 1) 100%);
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.75);
}

header div {
    padding-top: 2em;
    margin: auto;
    color: white;
}

header img {
    width: 320px;
}

header p {
    padding: 1.3em 0 1.1em 0;
    font-size: 1.4em;
}

nav a {
    font-size: 1.4em;
    line-height: 1.4em;
    text-decoration: none;
    color: white;
}

/* MAIN */
strong {
    font-weight: bold;
    color: rgb(155, 0, 155);
}

main,
aside {
    width: 90vw;
    margin: auto;
    background-color: white;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
    line-height: 1.5em;
    font-size: 1.45em
}

/* ELEMENTI NEL MAIN - ARTICLE */

article {
    padding: 2.5em 0.9em;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.3em;
    padding-bottom: 0.6em;
}

#author {
    color: grey;
    font-size: 0.8em;
}

#intro {
    padding: 1.5em 0;
}

article code {
    background-color: rgba(178, 178, 178, 0.411);
    border: solid 0.1em grey;
    border-radius: 10px;
}

article ul li {
    list-style-type: disc;
    margin-left: 2em;
}

ol li {
    list-style-type: decimal;
    margin-left: 2em;
}

iframe {
    width: 80vw;
    height: 10em;
    border-radius: 35px;
    padding: 1em 0em;
    margin-left: auto;
}

/* TABELLE */

table {
    border-bottom: solid 0.1em rgb(74, 92, 203);
    margin-bottom: 1.5em;
}

table caption {
    font-weight: bold;
    font-style: italic;
}

thead {
    background-color: rgb(74, 92, 203);
    color: white;
}

thead th {
    padding: 0.5em 1em;
}

th {
    vertical-align: bottom;
}

tbody {
    text-align: center;
}

tbody td {
    padding: 1em;
}

tbody .tab {
    background-color: rgba(223, 221, 218, 0.4);
    border-top: solid rgba(198, 198, 198, 0.543);
    border-bottom: solid rgba(198, 198, 198, 0.543)
}

th {
    border-left: 0.01em solid white
}

/* FORM */

#form {
    height: 13em;
    background-color: rgba(128, 128, 128, 0.279);
}

#form h2 {
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 1em;
    font-size: 1.4em;
    font-weight: bold;
}

#form p {
    padding-left: 0.8em;
}

input {
    margin-top: 1em;
    margin-left: 0.8em;
    margin-right: 0;
    font-size: 1em;
    width: 60%;
    height: 1.5em;
    border: none;
    border-bottom: dashed grey 0.1em;
}

button {
    margin-top: 1em;
    margin-left: 0;
    font-size: 1em;
    width: 22vw;
    height: 1.4em;
    color: white;
    font-weight: bold;
    background-color: rgb(81, 126, 249);
    border: none;
}

/* ELEMENTI NELL' ASIDE */
aside {
    padding-bottom: 2em;
}

.date {
    text-align: right;
    font-size: 0.8em;
}

aside a {
    font-weight: bold;
}

aside h2 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

.asi {
    background-color: rgba(128, 128, 128, 0.279);
    border: 0.06em solid rgb(172, 172, 172);
    margin: 0em 0.8em;
    height: 6em;
    padding: 1em;
}

/* FOOTER */
footer {
    background: linear-gradient(0deg, rgb(0, 18, 32) 0%, rgb(0, 116, 142) 100%, rgb(0, 161, 173) 100%);
    color: white;
    padding: 0.8em 0;
    margin-bottom: 2em;
    width: 90vw;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.75);
}

footer address {
    padding: 0.6em;
    line-height: 1.4em;
}

footer a {
    color: rgb(252, 78, 255);
    font-weight: bold;
}